In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/raw/imdb_reviews.csv")
df.head()

,rating,title,review
0,10,An absolutely incredible film!,Simply incredible. Never before have I seen a ...
1,10,Thank you Mr Jackson,(95%) If the late 70's early 80's had the Star...
2,10,"The Fellowship of the Ring: Not just a Movie,...",The first part of the Lord of the Rings trilog...
3,10,How the hell did they film this thing,An incredible feat\nEnthrals anew every time\n...
4,10,Masterpiece,"It took me a while to watch this film (2020), ..."

In [11]:
df["text"] = df["title"] + df["review"].fillna(" ")
df = df.drop(["title", "review"], axis=1)

In [12]:
df

      rating                                               text
0         10  An absolutely incredible film!Simply incredibl...
1         10  Thank you Mr Jackson(95%) If the late 70's ear...
2         10  The Fellowship of the Ring:  Not just a Movie,...
3         10  How the hell did they film this thingAn incred...
4         10  MasterpieceIt took me a while to watch this fi...
...      ...                                                ...
9995      10  Dark Knight MasterfulI just viewed a special s...
9996      10  IMAX for the WINI personally avoided any conta...
9997       6  Thinks too Highly of itselfAfter the success o...
9998       1                                  Just so...so bad
9999      10  Not enough good words to describe this film!I ...

[10000 rows x 2 columns]

In [13]:
def map_rating(rating):
    if rating >= 8:
        return 2  # positive
    elif rating >= 4:
        return 1  # neutral
    else:
        return 0  # negative

df["rating"] = df["rating"].apply(map_rating)

In [14]:
df["rating"].value_counts()

rating
2    8153
1    1297
0     550
Name: count, dtype: int64

In [15]:
df.to_csv("../data/processed/imdb.csv", index=False)